*{
    box-sizing:border-box;
}
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;}
body .header{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}