*{
    box-sizing:border-box;
}
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
   }
.header{
    position:sticky;
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
    height: 20%;
}
.search-bar{
    width: 88%;
    background-color: white;
    text-align: center;
}

.saved-items{
    direction: rtl ;
    width: 100px;
    border: 10px;
}
.cart{
    direction: rtl ;
    width: 100px;
    border: 10px;
}
.settings{
    direction: rtl ;
    width: 100px;
    border: 10px;
}
.main{
    position: fixed;
    background-color: rgb(245, 235, 240);
    width: 100%;
    height: auto;
}
.footer{
    position:absolute;
    bottom: 0;
    background-color: rgb(111, 102, 102);
    height: 20%;
    width: 100%;
}

.banner{
    /* align:"center"; */
    border: 10px;
    margin: 10px;
    
}