*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:aquamarine;
    
}

header{
    position:fixed;
     top:0px;
     left:0px;
     width:100%;
     color:rgb(247, 10, 10);
     background-color:rgb(236, 65, 116);
  padding:50px;
}
footer{
    position:fixed;
     top:0px;
     left:0px;
     width:100%;
     color:rgb(20, 1, 1);
     background-color:rgb(236, 65, 116);
  padding:10px;
}
main{
    display:flex;
     top:0px;
     left:0px;
     width:100%;
     color:rgb(23, 117, 172);
     background-color:rgb(236, 65, 116);
     text-shadow: #921414;
  padding:30px 20 px;
  margin: 0 auto;
  min-height:calc(100vh- 211px -0px)
}





body .header2{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

